:root {
  --white-1: #ffffff;
  --black-1: #0c0c0c;
  --red-1: #ff5252;
  --green-1: #1eb980;
  --green-2: #42c920;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
}

.financebar-custom {
  border-top: 1px solid var(--white-1);
  border-bottom: 1px solid var(--white-1);
  background-color: var(--black-1);
  overflow: hidden;
  display: flex;
}

.finance-custom__dolar-container {
  display: flex;
}

.finance-custom__dolar-content {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 8px;
  width: max-content;
}

.financebar-custom__dolar-icon,
.financebar-custom__dolar-currency,
.financebar-custom__dolar-price {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;
  flex: 1 0 auto;
  color: var(--green-2);
  font-weight: 500;
}

.financebar-custom__dolar-icon {
  display: flex;
}

.financebar-custom__dolar-bar {
  display: inline-block;
  width: 1px;
  background: var(--white-1);
  height: inherit;
  padding: 2px 0;
}

.finance-custom__dolar-svg {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 30px;
}

.financebar-custom__container {
  display: flex;
  gap: 4px;
}

.financebar-custom__marketshare-bar {
  display: inline-block;
  width: 1px;
  height: 54px !important;
  /* unfortunatelly the Slick slider doesn't accepting the prop height: inherit or auto */
  background-color: var(--white-1);
}

.financebar-custom__marketshare {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 8px;
}

.financebar-custom__marketshare-assets,
.financebar-custom__marketshare-price,
.financebar-custom__marketshare-variation {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: normal;
  flex: 1 0 auto;
}

.financebar-custom__marketshare-assets,
.financebar-custom__marketshare-price {
  color: var(--white-1);
  text-transform: uppercase;
  font-weight: 500;
}

.financebar-custom__marketshare-variation {
  font-weight: 600;
}

.financebar-custom__marketshare-variation--positive {
  color: var(--green-1);
}

.financebar-custom__marketshare-variation--negative {
  color: var(--red-1);
}

.financebar-custom__marketshare-variation--neutral {
  color: var(--white-1);
}

@media screen and (max-width: 600px) {
  .finance-custom__dolar-content,
  .financebar-custom__marketshare {
    padding: 4px 8px;
  }

  .finance-custom__dolar-svg {
    width: 22px;
    height: 24px;
  }

  .financebar-custom__dolar-icon,
  .financebar-custom__dolar-currency,
  .financebar-custom__dolar-price {
    font-size: 12px;
  }

  .financebar-custom__marketshare-bar {
    height: 34px !important;
  }
}
